.individual-sponsor {
    margin-bottom: 15px;
    position: relative;
}
.individual-sponsor img {
    width: 100%;
    height: auto;
    margin: 0px;
    box-sizing: border-box;
    border: 1px solid #fff;
}
