@import "common/_variables";

$delay: 1000ms;
$animation-speed: 300ms;

header {
    background-color: #fff;
    position: relative;
    z-index: 25;
    height: 150px;

    .header-parallax {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: absolute;

        img {
            position: absolute;
            bottom: 0;

            &.mountains {
                left: 0;
            }
            &.foothills.left {
                left: 0;
            }
            &.foothills.right {
                right: 0;
            }
            &.trees.left {
                left: 0;
            }
            &.trees.right {
                right: 0;
            }
        }
        .bg {
            position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            bottom: 0;

            &.mountains {
                background: #8CB485;
                height: 40px;
            }
            &.foothills {
                background: #598F4D;
                height: 20px;
            }
            &.trees {
                background: #377B2A;
                height: 3px;
            }
        }
    }

    h1 {
        margin: 0;
        padding: 0;
    }

    .header-right {
        text-align: right;
        h3, p {
            font-family: $header-font;
            margin-bottom: 5px;
        }
    }
}

@media screen and (max-width: 767px) {
    header {
        text-align: center;
        .header-right {
            text-align: center;
            margin-bottom: 20px;
        }
    }
}

$nav-color: $dark-blue;
$hover-color: $light-blue;
$nav-text: #fff;

@media screen and (min-width: 768px) {
    nav.has-parent {
        border-bottom: 32px solid $hover-color;
    }
}
nav {
    font-family: $header-font;
    background-color: $nav-color;
    color: $nav-text;
    position: relative;
    overflow-scrolling: touch;

    .menu, .sub-menu {
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        background-color: $nav-color;

        .menu-item {
            background-color: $nav-color;

            a {
                color: $nav-text;
                padding: 5px 8px;
                font-size: 1.6rem;
                display: inline-block;
                width: 100%;
                font-weight: bold;

                &:hover, &:focus {
                    color: darken($nav-text, 20%);
                    text-decoration: none;
                }
            }
            .sub-menu {
                font-size: 1.4rem;
            }

            &.current_page_item, &.current-page-ancestor,
            &:hover, &:focus {
                background-color: $hover-color;
            }
        }
    }
}

// Desktop styling
@media screen and (min-width: 768px) {
    nav {
        text-align: center;
        z-index: 10;

        .menu, .sub-menu {
            display: table;
            transition-delay: $delay;
            transform-style: preserve-3d;
            backface-visibility: hidden;

            .menu-item {
                display: table-cell;
                vertical-align: top;
                transition: background-color 10ms;
                transition-delay: $delay;
                transform-style: flat;
                backface-visibility: visible;

                &#menu-item-15 {
                    display: none;
                }

                a {
                    vertical-align: middle;

                    &:hover, &:focus {
                        ~ .sub-menu {
                            z-index: -2;
                            transition-delay: 0ms;
                            transform: translateY(0);
                        }
                    }
                }

                &:hover, &:focus {
                    transition-delay: 0ms;

                    .sub-menu {
                        z-index: -2;
                        transition-delay: 0ms;
                        transform: translateY(0);
                    }
                }

                .sub-menu {
                    z-index: -5;
                    transform: translateY(-100%);
                    transition: transform $animation-speed ease-in-out, z-index 0ms step-start;
                    transition-delay: $delay;
                    position: absolute;
                    left: 0;
                    background-color: $hover-color;

                    &:hover, &:focus {
                        z-index: -2;
                        transition-delay: 0ms;
                        transform: translateY(0);
                    }

                    .menu-item {
                        background-color: $hover-color;
                    }
                }

                &.current_page_item, &.current-page-ancestor {
                    a:hover,
                    a:focus,
                    .sub-menu {
                        z-index: -12 !important;
                        transform: translateY(0);
                    }
                }

                &.current_page_item > a {
                    color: darken($nav-text, 20%);
                }
            }

            &:hover, &:focus {
                transition-delay: 0ms;
                .menu-item {
                    transition-delay: 0ms;
                }
                .sub-menu {
                    transition-delay: 0ms;
                }
            }
        }
    }
}

#mobile-nav-toggle {
    width: 52px;
    height: 40px;
    padding: 6px;
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0px;
    transform: rotate(0deg);
    transition: ($animation-speed * 2) ease-in-out $animation-speed;
    cursor: pointer;
    &:hover span {
        background-color: darken($nav-text, 20%);
    }

    span {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            display: block;
            position: absolute;
            height: 4px;
            width: 53.846%; // 28px
            background-color: $nav-text;
            border-radius: 3px;
            opacity: 1;
            left: 12px;
            transform: rotate(0deg);
            transition: $animation-speed ease-in-out;
            transform-origin: left center;
        }

        &:nth-child(1) {
            top: 10px;
        }

        &:nth-child(2) {
            top: 18px;
        }

        &:nth-child(3) {
            top: 26px;
        }
    }
}

.open #mobile-nav-toggle {
    span {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            transition: ($animation-speed * 1.5) ease-in-out $animation-speed;
        }

        &:nth-child(1) {
            transform: rotate(45deg);
            top: 8px;
            left: 16px;
        }

        &:nth-child(2) {
            opacity: 0;
            left: 16px;
            width: 0;
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
            top: 28px;
            left: 16px;
        }
    }
}

// Mobile styling
@media screen and (max-width: 767px) {
    nav {
        text-align: left;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        display: block;
        position: relative;

        &::scrollbar,
        *::scrollbar {
            display: none;
        }

        &.animating {
            transition: $animation-speed top ease-in-out,
                        $animation-speed bottom ease-in-out,
                        $animation-speed left ease-in-out,
                        $animation-speed right ease-in-out,
                        $animation-speed position step-end;
        }

        &.open {
            overflow-x: hidden;
            overflow-y: scroll;
            position: fixed;
            z-index: 30;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            .menu {
                > .menu-item {
                    display: block;
                }
            }
        }

        .menu, .sub-menu {
            display: block;

            .menu-item {
                display: none;
                margin-left: -15px;
                margin-right: -15px;
                padding-left: 15px;
                padding-right: 15px;

                &#menu-item-15 {
                }

                a {
                    padding-top: 6px;
                    padding-bottom: 6px;
                    font-size: 2rem;
                    &:hover, &:focus {
                        ~ .sub-menu {
                        }
                    }
                }

                &:hover, &:focus {
                    .sub-menu {
                    }
                }

                .sub-menu {
                    display: none;
                    overflow: hidden;
                    background-color: $nav-color;

                    .menu-item,
                    a {
                        background-color: transparent;
                        font-size: 1.8rem;

                        &.current_page_item,
                        &:hover, &:focus {
                            background-color: $hover-color;
                        }
                    }
                }

                &.current-page-ancestor .sub-menu,
                &.current_page_item,
                &.current-page-ancestor {
                    display: block;
                }
            }
        }

        &.closed .current-page-ancestor > a {
            display: none;
        }

        &.open .menu-item .sub-menu {
            margin-left: -15px;
            margin-right: -15px;
            padding-left: 15px;
            padding-right: 15px;
            box-sizing: content-box;
            position: relative;
            border-top: 1px solid #d2d2d2;
            border-bottom: 1px solid $hover-color;

            a {
                padding: 5px;
            }

            &:before {
                content: " ";
                position: absolute;
                z-index: -1;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                border-top: 1px solid #e3e3e3;
                border-bottom: 1px solid #ddd;
            }
        }
    }
}

